body{
    font-family: Helvetica;
    margin: 0;
}
.container{
    padding: 25px 20px;
}
.header{
   padding: 10px;
}
.text{
    font-size: 25px;
    padding-top: 170px  ;
}
.content{
    padding-top: 20px;
  
}
.content-button{
    display: flex;
    padding: 20px 20px 20px 20px;
    margin-bottom: 25px;
    height: 80px;
    border: 1px solid rgba(175, 175, 175,0.5);
    border-radius: 35px;
    align-items: center;
}
.message{
    font-size: 30px;
    margin: 0;
    
}
.content-button p{
    margin: 10px 0 0 0;
    color: rgb(163,163,163);
}
.outil{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.smile{
    font-size: 25px;
    padding-top: 170px  ;
}
.button{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
}
.text-button{
    width: 90px;
    font-size: 13px;
    padding: 6px 15px;
    border-radius: 25px;
    background-color: indigo;
    padding-top: 15px;
    margin: 45px;
    color: black;
    opacity: 0.5;

}
.child{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 13px;
    border-radius: 25px;
    opacity: 0.5;
    margin: 45px;
    padding-top: 15px;
}
.card{
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
    padding-top: 20px;
    font-size: 25px;
    border: 1px solid rgba(175, 175, 175,0.5);
}
.one{
    padding: 40px;
    background-color: violet;
    color: grey;
    border-radius: 20px;
    width: 50px;
    height: 290px;
}
.two{
    padding: 40px;
    background-color: rgb(52, 52, 145);
    color: grey;
    border-radius: 20px;
    width: 50px;
    height: 290px;
}
.three{
    padding: 40px;
    background-color: rgb(247, 129, 129);
    color: grey;
    border-radius: 20px;
    width: 50px;
    height: 290px;

}
.zero{
    font-size: 16px;
}
.icon-button{
   background: transparent;
   border: 1px solid rgba(175, 175, 175,0.5);
   border-radius: 15px ;
   padding: 10px;
   margin-left: 10px;

}
.display{
    display: flex;
    justify-content: space-between;
    align-items: center;

}